body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
.name {
    color: #EC4B75FF;
    font-size: 60px;
    font-family: 'Ubuntu', sans-serif;
}
.half-width {
    width: 30%;
    float: left;
    margin-top: 100px;
    margin-left: 10%;
    padding-left: 5%;
}
.half-width img {
    width: 100%;
}
.half-width p {
    color: gray;
}
#top {
    background-image: url(images/header-bg.png);
    background-size: 100%;
}
section {
    height: 700px;
}
.fb {
    text-decoration: none;
    background-image: linear-gradient(45deg, #EC5094FF, #ED4B72FF);
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
}
.fb:hover{
    background-color: orange;
}
#bottom {
    background-image: url(images/biography-bg.png);
    background-size: 100%;
}
.work {
    text-align: center;
    margin-top: 100px;
}

.work-h-w {
    width:20%;
    float: left;
    padding: 5%;
    margin-left: 2%;
}

.work-h-w img {
    width: 100%;
}
.footer {
    text-align: center;
    background-image: url("images/footer-bg.png");
    background-size: 90%;
    background-repeat: no-repeat;
}
.last {
    color: white;
    background-image: linear-gradient(45deg, #EC5094FF, #ED4B72FF);
    padding: 20px;
    margin: 0% 20% 0% 20% ;
    border-radius: 10px;
}
#jhon {
    padding-top: 50px;

}
#ceo {
    color: gray;
    margin-bottom: 50px;
    font-size: 15px;
}
#clients {
    padding-bottom: 100px;
}
.right {
    margin-top: 100px;
    font-size: smaller;
    color: gray;
}